<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle</title>
    <link rel="icon" href="/img/homepage/logoweb.ico" type="images/x-ico" />
    <link rel="stylesheet" id="bootstrap-css-css" href="/css/back/bootstrap5152.css" type="text/css" media="all">
    <link rel="stylesheet" id="responsive-css-css" href="/css/back/responsive5152.css" type="text/css" media="all">
    <link rel="stylesheet" id="pretty-photo-css-css" href="/css/back/prettyPhotoaeb9.css" type="text/css" media="all">
    <link rel="stylesheet" id="main-css-css" href="/css/back/main5152.css" type="text/css" media="all">
    <link rel="stylesheet" href="/chat/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/chat/chat.css">

    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="/chat/chat.js"></script>
    <!--<script src="/chat/baidu_tts_cors.js"></script>-->
    <script type="text/javascript" src="/chat/baidu_tts_cors.js"></script>

    <script>
        (function(e, p) {
            var m = location.href.match(/platform=(win8|win|mac|linux|cros)/);
            e.id = (m && m[1]) ||
                (p.indexOf('Windows NT 6.2') > -1 ? 'win8' : p.indexOf('Windows') > -1 ? 'win' : p.indexOf('Mac') > -1 ? 'mac' : p.indexOf('CrOS') > -1 ? 'cros' : 'linux');
            e.className = e.className.replace(/\bno-js\b/, 'js');
        })(document.documentElement, window.navigator.userAgent)
    </script>
    <link href="https://www.google.com/intl/en/chrome/assets/common/css/chrome.min.css" rel="stylesheet">
</head>

<body id="robotbody" onmousemove="">
    <div class="header-wrapper">
        <header>
            <div class="container">
                <div class="logo-container">
                    <a href="/"> <span class="tag-line" style="float:left">知识图谱-Puzzle</span></a>
                </div>
                <!-- Start of Main Navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li><a href="/display">可视化</a></li>
                            <li><a href="/robot">智能问答</a></li>
                            <li><a href="#about">论文</a></li>
                            <li><a href="#contact">联系</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- End of Main Navigation -->
            </div>
        </header>
    </div>

    <div title="语音输入需要使用谷歌Chrome浏览器" class="abs cover contaniner">
        <div class="abs cover pnl">
            <!--<div class="top pnl-head"></div>-->
            <div class="abs cover pnl-body" id="pnlBody">
                <div class="abs cover">
                    <div class="abs cover pnl-msgs scroll" id="show">
                        <div class="msg min time" id="histStart">加载历史消息</div>
                        <div class="pnl-list" id="hists">
                            <!-- 历史消息 -->
                        </div>
                        <div class="pnl-list" id="msgs">
                            <div class="msg robot">
                                <div class="msg-left" worker="小龙">
                                    <div class="msg-host photo"></div>
                                    <div class="msg-ball" title="今天 17:52:06">我是Puzzle医疗智能问答机器人，很高兴为您服务</div>
                                </div>
                            </div>
                        </div>
                        <div class="pnl-list hide" id="unreadLine">
                            <div class="msg min time unread">未读消息</div>
                        </div>
                    </div>
                    <div class="abs bottom pnl-text">
                        <div class="abs cover pnl-input">
                            <textarea class="scroll" id="text" wrap="hard" placeholder="在此输入文字信息..."></textarea>
                            <div class="abs atcom-pnl scroll hide" id="atcomPnl">
                                <ul class="atcom" id="atcom"></ul>
                            </div>
                        </div>
                        <div class="abs br pnl-btn" id="submit" style="background-color: rgb(32, 196, 202); color: rgb(255, 255, 255);" onclick="SendMsg()">发送</div>
                        <div class="abs br pnl-btn" id="submit2" style="width: 80px!important;right: 80px !important; background-color: rgb(32, 196, 202); color: rgb(255, 255, 255);" onclick="startButton(event)">语音输入</div>
                        <!--<div class="abs br pnl-btn" id="submit2" style="width: 80px!important;right: 180px !important; background-color: rgb(32, 196, 202); color: rgb(255, 255, 255);" onclick="audiostop()">语音输入</div>-->

                    </div>
                </div>
            </div>
        </div>

        <div class="browser-landing" id="main" style="display: none">
            <div class="compact marquee">
                <div id="info" style="visibility: visible;"></div>
                <div id="div_start">
                    <button id="start_button" onclick="startButton(event)" style="display: inline-block;"><img alt="Start" id="start_img" src="https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif"></button>
                </div>
                <div id="results">
                    <span name="final" class="final" id="final_span"></span> <span class="interim" id="interim_span"></span>
                </div>
            </div>
        </div>

    </div>

    <script src="https://www.google.com/intl/en/chrome/assets/common/js/chrome.min.js"></script>
    <script>
        var chrmMenuBar = new chrm.ui.MenuBar();
        chrmMenuBar.decorate('nav');
        var chrmLogo = new chrm.ui.Logo('logo');
        var chrmscroll = new chrm.ui.SmoothScroll('scroll');
        chrmscroll.init();

        window.___gcfg = {
            lang: 'en'
        };
        (function() {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();


        var doubleTracker = new gweb.analytics.DoubleTrack('floodlight', {
            src: 2542116,
            type: 'clien612',
            cat: 'chrom0'
        });
        doubleTracker.track();
        doubleTracker.trackClass('doubletrack', true);
    </script>
    <script>
        // 初始化变量
        var two_line = /\n\n/g;
        var one_line = /\n/g;
        var first_char = /\S/;
        var final_transcript = '';
        var interim_transcript = '';
        var recognizing = false;
        var ignore_onend;
        var start_timestamp;
        var audio = null;

        if (!('webkitSpeechRecognition' in window)) {
        } else {
            start_button.style.display = 'inline-block';
            var recognition = new webkitSpeechRecognition();
            recognition.continuous = true;
            recognition.interimResults = true;

            recognition.onstart = function() {
                recognizing = true;
                start_img.src = 'https://www.google.com/intl/en/chrome/assets/common/images/content/mic-animate.gif';
            };

            recognition.onerror = function(event) {
                if (event.error == 'no-speech') {
                    start_img.src = 'https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif';
                    ignore_onend = true;
                }
                if (event.error == 'audio-capture') {
                    start_img.src = 'https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif';
                    ignore_onend = true;
                }
                if (event.error == 'not-allowed') {
                    ignore_onend = true;
                }
            };

            recognition.onend = function() {
                recognizing = false;
                if (ignore_onend) {
                    return;
                }
                start_img.src = 'https://www.google.com/intl/en/chrome/assets/common/images/content/mic.gif';
                // showInfo('');
                if (window.getSelection) {
                    window.getSelection().removeAllRanges();
                    var range = document.createRange();
                    range.selectNode(document.getElementById('final_span'));
                    window.getSelection().addRange(range);
                }
            };

            recognition.onresult = function(event) {
                interim_transcript = '';
                if (typeof(event.results) == 'undefined') {
                    recognition.onend = null;
                    recognition.stop();
                    // upgrade();
                    return;
                }
                for (var i = event.resultIndex; i < event.results.length; ++i) {
                    if (event.results[i].isFinal) {
                        final_transcript += event.results[i][0].transcript;
                    } else {
                        interim_transcript += event.results[i][0].transcript;
                    }
                }
                final_transcript = capitalize(final_transcript);
                final_span.innerHTML = linebreak(final_transcript);
                interim_span.innerHTML = linebreak(interim_transcript);
                if(recognizing) {
                    $('#text').val(linebreak(final_transcript) + " " + linebreak(interim_transcript));
                }
            };
        }

        function linebreak(s) {
            return s.replace(two_line, '<p></p>').replace(one_line, '<br>');
        }


        function capitalize(s) {
            return s.replace(first_char, function(m) {
                return m.toUpperCase();
            });
        }

        function startButton(event) {
            $('#submit2').text('输入中...');
            var audios = document.getElementsByTagName("audio");
            console.log(audios);
            for(var i=0; i<audios.length;i++){
                audios[i].pause();
                audios[i].remove();
            }
            if (recognizing) {
                recognition.stop();
                return;
            }
            final_transcript = '';
            recognition.lang = 'cmn-Hans-CN'; // 选择语言为中文
            recognition.start();
            ignore_onend = false;
            final_span.innerHTML = '';
            interim_span.innerHTML = '';
            start_img.src = 'https://www.google.com/intl/en/chrome/assets/common/images/content/mic-slash.gif';
            start_timestamp = event.timeStamp;
        }

        function audiostop() {
            var audios = document.getElementsByTagName("audio");
            for(var i=0; i<audios.length;i++){
                audios[i].remove();
            }
        }
    </script>


</body>

</html>