<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle</title>
    <!-- Style Sheet-->
    <link rel="icon" href="/img/homepage/logoweb.ico" type="images/x-ico" />
    <link rel="stylesheet" id="bootstrap-css-css" href="/css/back/bootstrap5152.css" type="text/css" media="all">
    <link rel="stylesheet" id="responsive-css-css" href="/css/back/responsive5152.css" type="text/css" media="all">
    <link rel="stylesheet" id="pretty-photo-css-css" href="/css/back/prettyPhotoaeb9.css" type="text/css" media="all">
    <link rel="stylesheet" id="main-css-css" href="/css/back/main5152.css" type="text/css" media="all">
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
    <div class="header-wrapper">
        <header>
            <div class="container">
                <div class="logo-container">
                    <span class="tag-line">知识图谱-Puzzle</span>
                </div>
                <!-- Start of Main Navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li><a href="http://localhost:8080">主页</a></li>
                            <li><a href="#about">论文</a></li>
                            <li><a href="#contact">联系</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- End of Main Navigation -->

            </div>
        </header>
    </div>
    <!-- End of Header -->

    <!-- Start of Search Wrapper -->
    <div class="search-area-wrapper" style="margin-top: 100px">
        <div class="search-area container" style="text-align:center">
            <h3 class="search-header">魔镜魔镜，他是谁？</h3>
            <p class="search-tag-line">If you have any question you can ask below or enter what you are looking for!</p>

            <form id="search-form" class="search-form clearfix" method="post" action="/visualization" autocomplete="off" novalidate="novalidate">
                <select id="searchby" name="searchby">
                    <option value ="entity">实例名称</option>
                    <option value ="nlp">自然语言</option>
                </select>

                <input type="hidden" name="csrfmiddlewaretoken" value="dcsMIBjbHLlFcnfaL1IZfywlgbefWnIqlTjZ0goxoUX5zqyTGZF0UlsFzKO1KyzR">
                <input class="search-term required" type="text" id="s" name="question" placeholder="输入您的问题" title="* Please enter a search term!">
                <input class="search-btn" type="submit" value="提问！">
                <div id="search-error-container"></div>
            </form>

        </div>
    </div>
    <!-- End of Search Wrapper -->

</body>

</html>