<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle</title>
    <!-- Style Sheet-->
    <link rel="icon" href="/img/homepage/logoweb.ico" type="images/x-ico" />
    <link rel="stylesheet" id="bootstrap-css-css" href="/css/back/bootstrap5152.css" type="text/css" media="all">
    <link rel="stylesheet" id="responsive-css-css" href="/css/back/responsive5152.css" type="text/css" media="all">
    <link rel="stylesheet" id="pretty-photo-css-css" href="/css/back/prettyPhotoaeb9.css" type="text/css" media="all">
    <link rel="stylesheet" id="main-css-css" href="/css/back/main5152.css" type="text/css" media="all">
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

    <link href="/chat/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/chat/chat.css">
    <script src="/chat/chat.js"></script>
</head>

<body style="background: url(/chat/chatbg.jpg)">
    <div class="header-wrapper">
        <header>
            <div class="container">
                <div class="logo-container">
                    <span class="tag-line">知识图谱-Puzzle</span>
                </div>
                <!-- Start of Main Navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li><a href="/">主页</a></li>
                            <li><a href="#about">论文</a></li>
                            <li><a href="#contact">联系</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- End of Main Navigation -->

            </div>
        </header>
    </div>

    <div class="abs cover contaniner">
        <div class="abs cover pnl">
            <div class="top pnl-head"></div>
            <div class="abs cover pnl-body" id="pnlBody">
                <div class="abs cover pnl-left">
                    <div class="abs cover pnl-msgs scroll" id="show">
                        <div class="msg min time" id="histStart">加载历史消息</div>
                        <div class="pnl-list" id="hists">
                            <!-- 历史消息 -->
                        </div>
                        <div class="pnl-list" id="msgs">
                            <div class="msg robot">
                                <div class="msg-left" worker="小龙">
                                    <div class="msg-host photo"></div>
                                    <div class="msg-ball" title="今天 17:52:06">你好，我是只能打字的聊天机器人                <br><br>您是想要了解哪些方面呢？</div>
                                </div>
                            </div>
                            <div class="msg guest">
                                <div class="msg-right">
                                    <div class="msg-host headDefault"></div>
                                    <div class="msg-ball" title="今天 17:52:06">你好</div>
                                </div>
                            </div>
                        </div>
                        <div class="pnl-list hide" id="unreadLine">
                            <div class="msg min time unread">未读消息</div>
                        </div>
                    </div>
                    <div class="abs bottom pnl-text">
                        <div class="abs top pnl-warn" id="pnlWarn">
                            <div class="fl btns rel pnl-warn-free">
                                <span> </span>
                                <!--<img src="#" class="kh warn-btn" title="图片" id="emojiBtn" />-->
                                <!--<img src="#" class="kh warn-btn" title="保存" id="emojiBtn" />-->
                            </div>
                        </div>
                        <div class="abs cover pnl-input">
                            <textarea class="scroll" id="text" wrap="hard" placeholder="在此输入文字信息..."></textarea>
                            <div class="abs atcom-pnl scroll hide" id="atcomPnl">
                                <ul class="atcom" id="atcom"></ul>
                            </div>
                        </div>
                        <div class="abs br pnl-btn" id="submit" style="background-color: rgb(32, 196, 202); color: rgb(255, 255, 255);" onclick="SendMsg()">发送</div>
                        <div class="pnl-support" id="copyright"><a href="#">版权什么的</a></div>
                    </div>
                </div>
                <div class="abs right pnl-right">
                    <div class="slider-container hide"></div>
                    <div class="pnl-right-content">
                        <div class="pnl-tabs">
                            <div class="tab-btn active" id="hot-tab">常见问题</div>
                            <div class="tab-btn" id="rel-tab">相关问题</div>
                        </div>
                        <div class="pnl-hot">
                            <ul class="rel-list unselect" id="hots">
                                <!-- <li class="rel-item">这是一个问题，这是一个问题？</li> -->
                            </ul>
                        </div>
                        <div class="pnl-rel" style="display: none;">
                            <ul class="rel-list unselect" id="rels">
                                <!-- <li class="rel-item">这是一个问题，这是一个问题？</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<img style="width:100%;height:100%" src="/chat/chatbg.jpg">-->



</body>

</html>